p{
    color: green;
}
a{
    color:aqua;
}
li{
    list-style: circle;
}

/* Class Selector
.Special{
    color: blueviolet;
    font-weight: bold;
}
*/

/* To Use A Particular Element of A Class */  
    h6.Special{
    color: blueviolet;
    font-weight: bold;
    background-color: bisque;
    padding:5px;
}

/* Descendent combinator
to Select an Element inside An Element*/
/*
li em{
    color: crimson;
    font-style: italic;
    font-weight: bold;
}
*/
/* Adjacent Combinator
    to Select Next Sibling or Slect Adjacent Element
    if there is somthing in between it not gonna work 
*/

h4+p{
    color: darkgoldenrod;
    font-style: oblique;
    font-size: large;
}
/* pseudo Element Selector
    to change State  
*/
a:hover{
    color:saddlebrown;
    text-decoration:double;
}

/* Id Selector */

#Heading{
    color: crimson;
    background-color: black;
    text-align: center;
}
p#one{
    color: blue;
}

/* Attribute Selector */

li[class]{
    color: brown;
    background-color: blanchedalmond;
    font-size: 200%;
}

li[class="Special2"]{
    color:green;
    background-color: blanchedalmond;
    font-size: 200%;
}

/* Everything Selector*/ 

* {
    list-style: none;
}

table , tr ,td ,th{
    border: 2px solid black;
    /* To Colapse The Borders */
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 5px;
} 
th{
    background-color: burlywood;
}
td{
    background-color: blanchedalmond;
}


 
